
<h3>{{name}}</h3>
{{{desc}}}
{{#argument.0}}Arguments:{{/argument.0}}
{{#argument}}
<b>{{name}}</b> : {{#required}}required{{/required}} {{^required}}optional{{/required}} {{#default}}<i>default: {{default}}</i>{{/default}} {{{desc}}}
{{/argument}}
{{#result.0}}Results:{{/result.0}}
{{#result}}
<b>{{name}}</b> : {{{desc}}}
{{/result}}
{{{cli_example}}}
{{{ws_example}}}
{{{rpc_example}}}

<hr>

